
# PostgreSQL
POSTGRES_PASSWORD={{ cookiecutter.project_slug }}&8864_
POSTGRES_USER={{ cookiecutter.project_slug }}

# General settings
DJANGO_ADMIN_URL=adminx/
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=.{{ cookiecutter.domain_name }}

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# Sentry
DJANGO_SENTRY_DSN=

MASTER_DATABASE_URL=
SLAVE1_DATABASE_URL=
SLAVE2_DATABASE_URL=
USERS_DATABASE_URL=postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@postgres:5432/$POSTGRES_USER
USERS_SLAVE1_DATABASE_URL=$USERS_DATABASE_URL
USERS_SLAVE2_DATABASE_URL=$USERS_DATABASE_URL

# Cacheops settings
DJANGO_REDIS_HOST=redis

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_DEBUG=1
DJANGO_OAUTH_DECODE_KEY=

DJANGO_STATIC_ROOT=/staticfiles/static/
DJANGO_STATIC_URL=/static/
DJANGO_MEDIA_ROOT=/staticfiles/
DJANGO_MEDIA_URL=/media/

USE_DOCKER=yes
